<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stories</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
<a href="/"><div class="back-button">Home</div></a>
<header>
    <h1>Add A Story</h1>
</header>
<p><em>For now, if you want paragraph breaks, please enter < br> twice. </em></p>
<form action="/addStory" method="POST">
    <label>Title</label>
    <input name="title" id="storyTitle" type="text">
    <label>Author</label>
    <input name="author" id="author" type="text">
    <label>Content</label>
    <textarea name="content" id="storyContent"></textarea>
    <br>
    <input type="submit" value="Save">
</form>
<script>
</script>
</body>
</html>