<!DOCTYPE html>
<html>
<head>
    <title>Test Form</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src=""></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

</head>
<body>
<div>
    <form action="/login" method="POST" >
        <input type="text" name="user" id="username" placeholder="username" value="myUsername"><br>
        <input type="password" name="pass" id="password" placeholder="password" value="myPassword"><br>
        <input type="submit" value="Log In"/>
    </form>
    <input type="submit" value="Log Out">
</div>

</body>
</html>