<html>
<head>
    <title>Mail Pricing</title>
</head>
<body>
<h1>The Best Postal Rate Calculator</h1>
<h3>Enter in the following information: </h3>
<form action="/calculateRate" method="get">
    <label>Weight (oz): </label><br>
    <input type="text" name="weight"><br><br>
    <label>Type of Mail: </label><br>
    <p><input type="radio" name="type" value="letterStamped"> Letters (Stamped)</p>
    <p><input type="radio" name="type" value="letterMetered"> Letters (Metered)</p>
    <p><input type="radio" name="type" value="largeEnvelope"> Large Envelopes (Flats)</p>
    <p><input type="radio" name="type" value="firstClass"> First-Class Package Service - Retail</p>
    <p><input type="submit" value="submit">
</form>
<p>Your Rate is: </p><%= price %>

</body>
</html>