<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Story</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body onload="displayStory()">
<h1 id="title"></h1>
<strong><p id="author"></p></strong>
<p id="content">
</p>
<script>
    function displayStory() {
      console.log("displayStory()");
      var id = 0;
      var url = window.location.href.split("/");
      for (var el in url) {
        if (url[el] === 'story' ) {
          id = parseInt(url[parseInt(el) + 1]);
          getStory(id);
        }
      }
    }

    function getStory(id) {
      console.log("getStory()");
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          story = JSON.parse(this.responseText);
          story.content = renderNewLines(story.content);
          document.getElementById("title").innerHTML = story.story_title;
          document.getElementById("author").innerHTML = story.story_author;
          document.getElementById("content").innerHTML = story.story_content;
        }
      };
      var url = "/getStory/" + id;
      xhttp.open("GET", url, true);
      xhttp.send();
    }

    function renderNewLines(content) {
      for (const el in content) {
        if (el === '/' && el+1 === 'r') {
          console.log("LOOK: space added " + el);
          el.replace('/', '<br><br>');

        }
      }
      return content;
    }


</script>
</body>
</html>