<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stories</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
<header>
    <h1>Thanks for adding your story!</h1>
</header>
<h3><%= data.title %></h3>
<p><%= data.content %></p>
<script>
</script>
</body>
</html>